#container-hedr {
  background-color: #06215b;
}

#small-star-left {
  position: absolute;
  left: 0;
  top: 50;
  margin-left: 10px;
  margin-top: 10px;
}

#star-left {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 10px;
  margin-top: 10px;
}

#star-right {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 10px;
  margin-top: 10px;
}

.navbar {
  background-color: rgb(183, 220, 242);
  height: 50px;
}
.h1 {
  color: rgba(255, 212, 68, 1);
  font-family: "Fruktur", system-ui;
  font-weight: 040;
  font-style: normal;
}

.fruktur-regular {
  font-family: "Fruktur", system-ui;
  font-weight: 400;
  font-style: normal;
}

.fruktur-regular-italic {
  font-family: "Fruktur", system-ui;
  font-weight: 400;
  font-style: italic;
}
.nav-item {
  color: #020202;
  border-color: #020202;
  border: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: "Fruktur", system-ui;
  font-weight: 040;
  font-style: normal;
}

.nav-item:hover {
  background-color: #081125;
  color: #f3f3f4;
  border-color: #f3f3f4;
}
#page-title {
  text-align: center;
}

#trending-news {
  background-color: #f4f0b2;

  padding: 20px;
  text-align: center;
}

.card {
  border-color: white;
}
